<div *ngIf="telaParaApresentar == 'lista'">
  <div>
    <h3 class="text-center" >Lista de Hospitais</h3>
    <!-- <div class="input-group-prepend"> -->
      <!--<input type="text" placeholder="Adicionar tarefa" name="tarefa" #tarefa
      [(ngModel)]="tarefaNomeModel" maxlength="5" class="form-control">-->

    <!--<span (click)="adicionarPessoa();" class="input-group-text">
      <i class="material-icons">add</i>
    </span>-->
    <!-- </div> -->
  </div>
    <table class="table">
      <thead>
        <tr>
          <th>Código do Hospital(id)</th>
          <th>Nome</th>
          <th>Cnpj</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>Cnes</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let hospitalItem of listaHospitais">
          <td>{{hospitalItem.idHospital}}</td>
          <td>{{hospitalItem.nome}}</td>
          <td>{{hospitalItem.cnpj}}</td>
          <td>{{hospitalItem.endereco}}</td>
          <td>{{hospitalItem.telefone}}</td>
          <td>{{hospitalItem.cnes}}</td>
          <td>{{hospitalItem.ativo == true?"ativo": "inativo"}}</td>
            <!-- <a target="_blank" routerLink="/editar-hospital">Consulta Lista de Profissionais</a> -->
            <button class="btn btn-link" style="flex-wrap:nowrap; margin-left: 0.5 rem;" type="link" (click)="editarHospital(hospitalItem.idHospital);">Editar</button>
            <!-- <i class="material-icons" (click)="detalharHospital(itemdoarray.idHospital);">visibility</i> -->
            <button class="btn btn-link" style="flex-wrap:nowrap; margin-left: 0.5 rem;" type="link" (click)="removerHospital(hospitalItem.idHospital);">Remover</button>
        </tr>
      </tbody>
    </table>
  <!--<div class="data">
    <ul class="list-unstyled">
      <li *ngFor="let medicoItem of listaProfissionais">
        <span>{{medicoItem.nome}}</span><br>
        <span>{{medicoItem.endereco}}</span><br>
        <span>{{medicoItem.ativo}}</span><br>
        <span>{{medicoItem.telefone}}</span><br>
      </li>
    </ul>
  </div>-->
</div>

<!-- <app-listagem-medico *ngIf="telaParaApresentar == 'lista'" ></app-listagem-medico> -->
